{
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://api.lummi.ai/v1"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "info": {
    "title": "Lummi API",
    "version": "1",
    "description": "## Introduction\n\nLummi REST API offers tools for searching, retrieving, and customizing images, with features like filters, metadata, and advanced image effects.\n\n​\n## Authentication\n\nThe API uses Bearer Token authentication. Developers must include their API key in the `Authorization` header of each request.\n\nExample:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\n​\n## Rate Limiting\n\nThe API enforces rate limits to ensure fair usage and system stability.\n\n- **Default Limit**: 10 requests per minute.\n- **Approved Applications**: 100 requests per minute.\n\nIf the limit is exceeded, the API will return a `429 Too Many Requests` response. To avoid disruptions:\n\n- Optimize your API usage by batching requests where possible.\n- Implement retry logic with exponential backoff to handle rate limit errors.\n\nFor higher limits, submit your application for review at https://www.lummi.ai/portal/developer.\n\n​\n## Attribution Guidelines\n\nTo comply with usage guidelines and ensure proper credit is given to image creators, developers **MUST** include both **image attribution** and **author attribution** for each image displayed.\n\n### Image Attribution\n\nWhen displaying images obtained through the Lummi API, you **MUST** provide a clickable link to the original source of the image. Use the `attributionUrl` property from the image object.\n\n### Author Attribution\n\nDevelopers **MUST** also attribute the original author of the image. Use the `attributionUrl` from the author object to create a clickable link to the author's profile.\n\n### Example\n\n```\n<div className=\"relative\">\n  <img src={image.url} alt={image.name} />\n\n  <p className=\"absolute bottom-0 right-0\">\n    Photo by\n    <a href={author.attributionUrl} target=\"_blank\">\n      {author.name}\n    </a>\n    on\n    <a href={image.attributionUrl} target=\"_blank\">\n      Lummi\n    </a>\n  </p>\n</div>\n```\n\n### General Best Practices for Attribution\n\n- **Visibility**: The attribution should appear near the image, on top of it, or be visible on hover.\n- **Formatting**: Use clear and clickable text links for all attribution URLs.\n- **Styling**: Match the attribution style with your application’s design for a seamless user experience.\n\nBy adhering to these guidelines, developers ensure compliance with Lummi's terms of service and respect the work of creators.\n\n​\n## Dynamic Image Transformations\n\nEvery image object includes a `url` property, which returns a direct URL to the image. You can customize the size and format of each image by adding specific query parameters to this URL. Below are the supported parameters and examples of their usage.\n\n### 1. Resizing\n\nYou can resize an image by specifying one or both of the following parameters:\n\n- `w` (width): Sets the output width (in pixels).\n- `h` (height): Sets the output height (in pixels).\n\nWhen you provide both `w` and `h`, the image is fit within those dimensions while preserving its aspect ratio. In this case, only one dimension (either width or height) will match your parameters — unless the original aspect ratio is 1:1.\n\nBy default, the URL for each image may already include query parameters for width (`w`) and height (`h`). These default values ensure a certain size is always delivered unless you override them. You can modify or remove these parameters to fetch different sizes or the original image.\n\n#### Examples\n\n```\nconst imageUrl = new URL(image.url);\n\n# Default size\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?w=xxx&h=xxx&auto=format\"\n\n# Original size\nimageUrl.searchParams.delete(\"w\");\nimageUrl.searchParams.delete(\"h\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?auto=format\"\n\n# Resize to a width of 400px\nimageUrl.searchParams.set(\"w\", \"400\");\nimageUrl.searchParams.delete(\"h\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?w=400&auto=format\"\n\n# Resize to a height of 300px\nimageUrl.searchParams.set(\"h\", \"300\");\nimageUrl.searchParams.delete(\"w\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?h=300&auto=format\"\n\n# Resize to both width 400px and height 300px (maintains aspect ratio)\nimageUrl.searchParams.set(\"w\", \"400\");\nimageUrl.searchParams.set(\"h\", \"300\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?w=400&h=300&auto=format\"\n```\n\n### 2. Format Conversion\n\nYou can also convert an image to a different format by removing the `auto` parameter and adding the `fm` parameter. Supported values for `fm` include `jpg`, `png`, `avif`, and `webp`.\n\nBy default, the URL for each image includes a query parameter for automatic format selection (`auto`). This ensures that the most optimal format is always delivered unless you override it. You can remove `auto` parameter to fetch a different format or the original one.\n\n#### Examples\n\n```\nconst imageUrl = new URL(image.url);\n\n# Default (automatic) format\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?auto=format&w=xxx&h=xxx\"\n\n# Original format\nimageUrl.searchParams.delete(\"auto\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?w=xxx&h=xxx\"\n\n# Convert to `png` format\nimageUrl.searchParams.delete(\"auto\");\nimageUrl.searchParams.set(\"fm\", \"png\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?fm=png&w=xxx&h=xxx\"\n```\n\n### Combining Parameters\n\nYou can mix-and-match the `w`, `h`, `fm`, and `auto` parameters to perform multiple transformations at once:\n\n```\nconst imageUrl = new URL(image.url);\nimageUrl.searchParams.delete(\"auto\");\nimageUrl.searchParams.set(\"fm\", \"avif\");\nimageUrl.searchParams.set(\"w\", \"400\");\nimageUrl.searchParams.set(\"h\", \"300\");\nimageUrl.toString(); # \"https://assets.lummi.ai/assets/abc123?fm=avif&w=400&h=300\"\n```\n"
  },
  "components": {
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "UserRef": {
        "type": "object",
        "properties": {
          "attributionUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the original author on the Lummi website. You MUST use it to properly attribute Lummi when displaying its images, ensuring compliance with usage guidelines and giving proper credit to the source.",
            "example": "https://www.lummi.ai/creator/abc"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "username": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatar": {
            "type": "string",
            "format": "uri",
            "example": "https://assets.lummi.ai/assets/abc123"
          },
          "role": {
            "type": "string",
            "enum": [
              "user",
              "creator"
            ]
          }
        },
        "required": [
          "attributionUrl",
          "id",
          "username",
          "role"
        ]
      },
      "ImageType": {
        "type": "string",
        "enum": [
          "photo",
          "illustration",
          "3d"
        ]
      },
      "ContentType": {
        "type": "string",
        "enum": [
          "image/png",
          "image/jpeg",
          "image/jpg",
          "image/gif",
          "video/mp4"
        ]
      },
      "FocalZone": {
        "type": [
          "string",
          "null"
        ],
        "enum": [
          "top_left",
          "top_center",
          "top_right",
          "center_left",
          "center",
          "center_right",
          "bottom_left",
          "bottom_center",
          "bottom_right"
        ]
      },
      "TagRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "example": "cool-cat"
          }
        },
        "required": [
          "id",
          "name",
          "slug"
        ]
      },
      "CategoryRef": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "example": "cool-cat"
          }
        },
        "required": [
          "id",
          "name",
          "slug"
        ]
      },
      "HexColor": {
        "type": "string",
        "pattern": "^#(?:[0-9a-f]{3}|[0-9a-f]{6}|[0-9a-f]{8})$",
        "description": "Color in HEX format.",
        "example": "#00ff00"
      },
      "ColorPalette": {
        "type": "object",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "hex": {
              "$ref": "#/components/schemas/HexColor"
            },
            "weight": {
              "type": "number",
              "description": "Percentage.",
              "example": 0.12
            }
          },
          "required": [
            "hex",
            "weight"
          ]
        }
      },
      "ColorGroup": {
        "type": "string"
      },
      "Orientation": {
        "type": "string",
        "enum": [
          "square",
          "horizontal",
          "vertical"
        ]
      },
      "CreateImageAiModel": {
        "type": "string"
      },
      "ImagePurpose": {
        "type": "string",
        "enum": [
          "profile"
        ]
      },
      "Image": {
        "type": "object",
        "properties": {
          "attributionUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to the original image on the Lummi website. You MUST use it to properly attribute Lummi when displaying its images, ensuring compliance with usage guidelines and giving proper credit to the source.",
            "example": "https://www.lummi.ai/photo/abc"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://assets.lummi.ai/assets/abc123"
          },
          "author": {
            "$ref": "#/components/schemas/UserRef"
          },
          "imageType": {
            "$ref": "#/components/schemas/ImageType"
          },
          "contentType": {
            "$ref": "#/components/schemas/ContentType"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "featuredAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "featuredScoreUpdatedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "vibeDescription": {
            "type": "string"
          },
          "detailedDescription": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "collections": {
            "type": "integer",
            "minimum": 0,
            "example": 123
          },
          "searchAppearances": {
            "type": "integer",
            "minimum": 0,
            "example": 123
          },
          "viewCount": {
            "type": "integer",
            "minimum": 0,
            "example": 123
          },
          "downloadCount": {
            "type": "integer",
            "minimum": 0,
            "example": 123
          },
          "trendScore": {
            "type": "number",
            "example": 12.3
          },
          "randomFieldScore": {
            "type": "integer",
            "example": 123
          },
          "featuredScore": {
            "type": "integer",
            "example": 123
          },
          "luminance": {
            "type": "number",
            "example": 0.12
          },
          "focalPositionX": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Percentage.",
            "example": 0.12
          },
          "focalPositionY": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Percentage.",
            "example": 0.12
          },
          "focalWidth": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Percentage.",
            "example": 0.12
          },
          "focalHeight": {
            "type": [
              "number",
              "null"
            ],
            "minimum": 0,
            "maximum": 1,
            "description": "Percentage.",
            "example": 0.12
          },
          "focalZone": {
            "$ref": "#/components/schemas/FocalZone"
          },
          "numberOfPeople": {
            "type": "integer",
            "minimum": 0,
            "example": 123
          },
          "shootId": {
            "type": [
              "string",
              "null"
            ],
            "format": "uuid"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TagRef"
            }
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CategoryRef"
            }
          },
          "colorPalette": {
            "$ref": "#/components/schemas/ColorPalette"
          },
          "colorGroups": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ColorGroup"
            }
          },
          "dominantColorGroup": {
            "$ref": "#/components/schemas/ColorGroup"
          },
          "dominantColorWeight": {
            "type": "number",
            "description": "Percentage.",
            "example": 0.12
          },
          "pro": {
            "type": "boolean"
          },
          "free": {
            "type": "boolean"
          },
          "video": {
            "type": "boolean"
          },
          "transparent": {
            "type": "boolean"
          },
          "discoverable": {
            "type": "boolean"
          },
          "becameDiscoverableAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "unsafe": {
            "type": "boolean"
          },
          "size": {
            "type": "integer",
            "minimum": 0,
            "description": "Bytes.",
            "example": 123
          },
          "width": {
            "type": "integer",
            "minimum": 0,
            "description": "Pixels.",
            "example": 123
          },
          "height": {
            "type": "integer",
            "minimum": 0,
            "description": "Pixels.",
            "example": 123
          },
          "aspectRatio": {
            "type": "number",
            "example": 1.23
          },
          "orientation": {
            "$ref": "#/components/schemas/Orientation"
          },
          "generation": {
            "type": "object",
            "properties": {
              "aiModel": {
                "$ref": "#/components/schemas/CreateImageAiModel"
              },
              "batchId": {
                "type": "string",
                "format": "uuid"
              },
              "parentId": {
                "type": "string",
                "format": "uuid"
              },
              "rootId": {
                "type": "string",
                "format": "uuid"
              },
              "prompt": {
                "type": "string"
              },
              "aspectRatio": {
                "type": "string",
                "pattern": "^(\\d+):(\\d+)$",
                "example": "16:9"
              },
              "imageType": {
                "$ref": "#/components/schemas/ImageType"
              },
              "shotType": {
                "type": "string"
              },
              "trend": {
                "type": "string"
              }
            },
            "required": [
              "aiModel",
              "batchId"
            ]
          },
          "purpose": {
            "$ref": "#/components/schemas/ImagePurpose"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "blurhash": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "example": "cool-cat"
          }
        },
        "required": [
          "attributionUrl",
          "url",
          "author",
          "imageType",
          "contentType",
          "createdAt",
          "updatedAt",
          "featuredAt",
          "featuredScoreUpdatedAt",
          "vibeDescription",
          "detailedDescription",
          "description",
          "collections",
          "searchAppearances",
          "viewCount",
          "downloadCount",
          "trendScore",
          "randomFieldScore",
          "featuredScore",
          "luminance",
          "focalPositionX",
          "focalPositionY",
          "focalWidth",
          "focalHeight",
          "focalZone",
          "numberOfPeople",
          "shootId",
          "tags",
          "categories",
          "colorPalette",
          "colorGroups",
          "dominantColorGroup",
          "dominantColorWeight",
          "pro",
          "free",
          "video",
          "transparent",
          "becameDiscoverableAt",
          "size",
          "width",
          "height",
          "aspectRatio",
          "orientation",
          "id",
          "name",
          "blurhash",
          "slug"
        ]
      },
      "PaginationdMetadata": {
        "type": "object",
        "properties": {
          "totalCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Total number of items.",
            "example": 123
          }
        },
        "required": [
          "totalCount"
        ]
      },
      "PaginatedImages": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationdMetadata"
          }
        },
        "required": [
          "data",
          "meta"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string"
                },
                "message": {
                  "type": "string"
                },
                "path": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer",
                        "minimum": 0,
                        "example": 123
                      }
                    ]
                  }
                }
              },
              "required": [
                "code",
                "message",
                "path"
              ]
            }
          }
        },
        "required": [
          "message"
        ]
      },
      "Luminance": {
        "type": "string",
        "enum": [
          "dark",
          "neutral",
          "bright"
        ]
      },
      "ImageOrderBy": {
        "type": "string",
        "enum": [
          "featuredScore",
          "trendScore",
          "createdAt"
        ],
        "default": "featuredScore"
      },
      "OrderDirection": {
        "type": "string",
        "enum": [
          "asc",
          "desc"
        ],
        "default": "desc"
      },
      "ProfileImageStyle": {
        "type": "string",
        "enum": [
          "minimalistic",
          "saturatedMural",
          "texturedCollage"
        ]
      },
      "DuotoneParams": {
        "type": "object",
        "properties": {
          "primary": {
            "$ref": "#/components/schemas/HexColor"
          },
          "secondary": {
            "$ref": "#/components/schemas/HexColor"
          },
          "tertiary": {
            "$ref": "#/components/schemas/HexColor"
          },
          "opacity": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Percentage.",
            "example": 0.12
          }
        },
        "required": [
          "primary",
          "secondary"
        ]
      },
      "ReframeParams": {
        "type": "object",
        "properties": {
          "fpx": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "The focal point's X coordinate.",
            "example": 0.12
          },
          "fpy": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "The focal point's Y coordinate.",
            "example": 0.12
          },
          "ar": {
            "type": "number",
            "exclusiveMinimum": 0,
            "description": "Image aspect ratio.",
            "example": 1.23
          }
        },
        "description": "Reframe gives you the flexibility to resize and expand images easily—whether making it taller, wider, or square. You can also choose different focal points to automagically keep your subject exactly where you want it. This is a Pro feature; please contact us to gain access."
      },
      "Variant": {
        "type": "string",
        "enum": [
          "illustration",
          "cute-3d",
          "watercolor",
          "pixel-art",
          "neon",
          "comic",
          "marker",
          "sketch",
          "colorful",
          "xmas"
        ],
        "description": "Variants are different styles of images that can be applied to an image. This is a Pro feature; please contact us to gain access."
      },
      "ImageEffects": {
        "type": "object",
        "properties": {
          "duotone": {
            "$ref": "#/components/schemas/DuotoneParams"
          },
          "reframe": {
            "$ref": "#/components/schemas/ReframeParams"
          },
          "variant": {
            "$ref": "#/components/schemas/Variant"
          },
          "bgremove": {
            "type": "boolean",
            "default": false,
            "description": "Remove background. This is a Pro feature; please contact us to gain access."
          }
        }
      },
      "Resolution": {
        "type": "string",
        "enum": [
          "original",
          "small",
          "medium",
          "large",
          "xlarge",
          "ultra"
        ],
        "default": "original",
        "description": "Note that `large`, `xlarge`, and `ultra` are Pro features."
      },
      "ImageFormat": {
        "type": "string",
        "enum": [
          "png",
          "jpg"
        ],
        "description": "Defaults to auto if not specified."
      },
      "Category": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string"
          },
          "subtitle": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "example": "cool-cat"
          }
        },
        "required": [
          "id",
          "name",
          "slug"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/images": {
      "get": {
        "description": "List images.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "$ref": "#/components/schemas/ImageType"
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Orientation"
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/HexColor"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Luminance"
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are free."
            },
            "required": false,
            "name": "free",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ImageOrderBy"
            },
            "required": false,
            "name": "orderBy",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            },
            "required": false,
            "name": "orderDirection",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number."
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "Page size."
            },
            "required": false,
            "name": "perPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedImages"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/random": {
      "get": {
        "description": "List random images.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "The number of images to return."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ImageType"
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Orientation"
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/HexColor"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Luminance"
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are free."
            },
            "required": false,
            "name": "free",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/search": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Search images.",
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search term.",
              "example": "cool cat"
            },
            "required": true,
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ImageType"
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Orientation"
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/HexColor"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Luminance"
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are free."
            },
            "required": false,
            "name": "free",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number."
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "Page size."
            },
            "required": false,
            "name": "perPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedImages"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/search/random": {
      "get": {
        "description": "Search random images.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Search term.",
              "example": "cool cat"
            },
            "required": true,
            "name": "query",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "The number of images to return."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ImageType"
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Orientation"
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/HexColor"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Luminance"
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are free."
            },
            "required": false,
            "name": "free",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/generator/profile": {
      "post": {
        "description": "Generate background images for a user profile. This is an Enterprise feature; please contact us to gain access.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "about": {
                    "type": "string",
                    "description": "Profile description (e.g., job title, location, interests, personality traits)."
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Prompt to further direct or customize the image generation output."
                  },
                  "count": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 3,
                    "default": 1,
                    "description": "Number of images to generate.",
                    "example": 3
                  },
                  "aspectRatioHint": {
                    "type": "string",
                    "pattern": "^(\\d+):(\\d+)$",
                    "default": "21:9",
                    "description": "The preferred aspect ratio of the output image. It is considered but not guaranteed.",
                    "example": "16:9"
                  },
                  "style": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uri",
                        "description": "URL of a PNG or JPEG image.",
                        "example": "https://example.com/abc"
                      },
                      {
                        "type": "string",
                        "pattern": "^data:image\\/(jpeg|png);base64,.+",
                        "description": "PNG or JPEG data URI.",
                        "example": "data:image/png;base64,abc"
                      },
                      {
                        "$ref": "#/components/schemas/ProfileImageStyle"
                      }
                    ],
                    "description": "An image or a predefined option to use as a style reference."
                  },
                  "person": {
                    "type": "object",
                    "properties": {
                      "image": {
                        "anyOf": [
                          {
                            "type": "string",
                            "format": "uri",
                            "description": "URL of a PNG or JPEG image.",
                            "example": "https://example.com/abc"
                          },
                          {
                            "type": "string",
                            "pattern": "^data:image\\/(jpeg|png);base64,.+",
                            "description": "PNG or JPEG data URI.",
                            "example": "data:image/png;base64,abc"
                          }
                        ],
                        "description": "Image of a person. Up to 3 MB."
                      },
                      "include": {
                        "type": "boolean",
                        "default": false,
                        "description": "Include the person in the output image."
                      }
                    },
                    "required": [
                      "image"
                    ],
                    "description": "Image of a person."
                  }
                },
                "required": [
                  "about"
                ],
                "example": {
                  "about": "Software engineer at Microsoft. Based in Los Angeles, CA, USA.",
                  "person": {
                    "image": "https://assets.lummi.ai/assets/QmfNuxEGCCdiaZr8CR4H6xBWHpM2r5YGwRC8fzYU1gzdbZ?auto=format&w=640"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Please contact us to gain access to the this feature.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/{id}": {
      "get": {
        "description": "Get the image.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Image"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/{id}/download": {
      "post": {
        "description": "Download the image, optionally with effects applied.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "effects": {
                    "$ref": "#/components/schemas/ImageEffects"
                  },
                  "resolution": {
                    "$ref": "#/components/schemas/Resolution"
                  },
                  "format": {
                    "$ref": "#/components/schemas/ImageFormat"
                  }
                },
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "downloadUrl": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://assets.lummi.ai/assets/abc123"
                    }
                  },
                  "required": [
                    "downloadUrl"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "description": "Payment required. Please contact us to gain access to the this feature.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/{id}/similar": {
      "get": {
        "description": "List similar images.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ImageType"
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Orientation"
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/HexColor"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Luminance"
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are free."
            },
            "required": false,
            "name": "free",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number."
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "Page size."
            },
            "required": false,
            "name": "perPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedImages"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/images/{id}/similar/random": {
      "get": {
        "description": "List similar random images.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "name": "id",
            "in": "path",
            "example": "6ee9d925-4b40-4c76-873e-9f36401d4c0c"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "The number of images to return."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ImageType"
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Orientation"
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/HexColor"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Luminance"
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are free."
            },
            "required": false,
            "name": "free",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{id}/images": {
      "get": {
        "description": "List the images in the collection.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{7}$"
            },
            "required": true,
            "description": "For example, in the collection at **https://www.lummi.ai/collection/3hoMl5l/handsome-bald-men**, the ID would be `3hoMl5l`.",
            "name": "id",
            "in": "path",
            "example": "3hoMl5l"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ImageType"
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Orientation"
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/HexColor"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Luminance"
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are free."
            },
            "required": false,
            "name": "free",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ImageOrderBy"
            },
            "required": false,
            "name": "orderBy",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/OrderDirection"
            },
            "required": false,
            "name": "orderDirection",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "description": "Page number."
            },
            "required": false,
            "name": "page",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "Page size."
            },
            "required": false,
            "name": "perPage",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedImages"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The collection is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{id}/images/random": {
      "get": {
        "description": "List random images in the collection.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]{7}$"
            },
            "required": true,
            "description": "For example, in the collection at **https://www.lummi.ai/collection/3hoMl5l/handsome-bald-men**, the ID would be `3hoMl5l`.",
            "name": "id",
            "in": "path",
            "example": "3hoMl5l"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 20,
              "description": "The number of images to return."
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/ImageType"
            },
            "required": false,
            "name": "imageType",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Orientation"
            },
            "required": false,
            "name": "orientation",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/HexColor"
            },
            "required": false,
            "name": "color",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images from any of the specified category IDs, separated by commas.",
              "example": "61c6298b-b014-4860-b7d5-2cf526dbc689, a935d10d-9bf8-4a2e-89d7-54623e416e73"
            },
            "required": false,
            "name": "categories",
            "in": "query"
          },
          {
            "schema": {
              "$ref": "#/components/schemas/Luminance"
            },
            "required": false,
            "name": "luminance",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
              "examples": [
                "1",
                "gt0",
                "gte2",
                "lt4",
                "lte3"
              ]
            },
            "required": false,
            "description": "Include only images with the specified number of people. This can optionally be prefixed with an operator:\n- `gt` (grater than)\n- `gte` (grater than or equal to)\n- `lt` (lower than)\n- `lte` (lower than or equal to)",
            "name": "numberOfPeople",
            "in": "query"
          },
          {
            "schema": {
              "type": "boolean",
              "default": false,
              "description": "Include only images that are free."
            },
            "required": false,
            "name": "free",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Image"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. The collection is private.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "description": "List the categories.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many requests. The number of requests exceeds the limit of 10 (100 for approved apps) per minute.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}